$icons: (
{% for codepoint in codepoints %}
	"{{codepoint[ 0 ]}}": unquote("\"\\{{codepoint[ 1 ]}}\""),
{% endfor %}
);

@function getIconContent( $key ) {
	@each $pair in $icons {
		@if nth( $pair, 1 ) == $key {
			@return nth( $pair, 2 );
		}
	}

	@return null;
}

@mixin icon( $name ) {
	content: getIconContent( $name );
	display: inline-block;
	font-family: "{{ fontFamilyName }}";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	text-transform: none;
	vertical-align: middle;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin initIcon() {
	@font-face {
		font-family: "{{ fontFamilyName }}";
		font-style: normal;
		font-weight: normal;
		src: url( "{{ dataUri }}" );
	}

	.{{ className }} {
		display: inline-block;
		font-family: "{{ fontFamilyName }}";
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		line-height: 1;
		text-transform: none;
		vertical-align: middle;
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		// stylelint-disable
		// For With CJK Text ===========
		position: relative;
		top: -0.1em;
		// stylelint-enable

		&::before {
			font-family: inherit;
			font-style: inherit;
			font-weight: inherit;
			font-variant: inherit;
			line-height: inherit;
			text-transform: inherit;
			vertical-align: inherit;
		}
	}

{% for codepoint in codepoints %}
	.{{ className }}.-{{ codepoint[ 0 ] }}::before {
		content: unquote("\"\\{{ codepoint[ 1 ] }}\"");
	}
{% endfor %}
}
