@use "sass:string";

@function getIconContent( $name ) {
	@return var( --icon-#{ $name } );
}

@mixin icon( $name ) {
	content: var( --icon-#{ $name } );
	display: inline-block;
	font-family: var( --iconfont );
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	text-transform: none;
	vertical-align: middle;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin initIcon() {
	:root {
		--iconfont: "{{ fontFamilyName }}";
{% for codepoint in codepoints %}
		--icon-{{codepoint[ 0 ]}}: #{ string.unquote("\"\\{{ codepoint[ 1 ] }}\"") };
{% endfor %}
	}


	@font-face {
		font-family: "{{ fontFamilyName }}";
		font-style: normal;
		font-weight: normal;
		src: url( "{{ dataUri }}" );
	}

	.{{ className }} {
		--icon: none;
		display: inline-block;
		font-family: var( --iconfont );
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		line-height: 1;
		text-transform: none;
		vertical-align: middle;
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		// stylelint-disable
		// For With CJK Text ===========
		position: relative;
		top: -0.1em;
		// stylelint-enable

		&::before {
			content: var( --icon );
			font-family: inherit;
			font-style: inherit;
			font-weight: inherit;
			font-variant: inherit;
			line-height: inherit;
			text-transform: inherit;
			vertical-align: inherit;
		}
	}

{% for codepoint in codepoints %}
	.{{ className }}.-{{ codepoint[ 0 ] }} {
		--icon: #{ getIconContent( "{{ codepoint[ 0 ] }}" ) };
	}
{% endfor %}
}
